/* Base */

#colour-box{
  height: 80px;  
  background: rgba(0, 0, 0, 0);
  transition: background 0.7s;
  cursor: pointer;
}

.warning {
  color: #1d1d1d;
  vertical-align: middle;
  line-height: 80px; 
  margin: 0px;
  font-size: 24px;
  font-weight: bold;
  font-family: 'Great Vibes', cursive;}

.saci-about.row {
  margin-right: -10px;
  margin-left: -10px; }

.saci-about .col-12 {
  padding-left: 10px;
  padding-right: 10px; }

.single_about_item {
  position: relative;
  z-index: 10;
  margin-top: 20px;
  overflow: hidden;
  height: 300px;
  -webkit-transition-duration: 500ms;
  transition-duration: 500ms; }
  
  .single_about_item .about-thumbnail {
    -webkit-transition-duration: 500ms;
    transition-duration: 500ms;
    width: calc(100% - 70px);
    position: absolute;
    height: 70%;
    top: 0;
    left: 10px;
    right: 10px;
    background-repeat: no-repeat; }
    .single_about_item .about-thumbnail.bg-img {
      background-size: cover; 
      background-repeat: no-repeat; 
      background-position: center;
      border-radius: 15px; }
  .single_about_item .about-hover-overlay {
    width: calc(100% - 20px);
    height: 100%;
    top: 0;
    left: 10px;
    right: 10px;
    -webkit-transition-duration: 500ms;
    transition-duration: 500ms;
    background-color: rgba(255,231,19, 0.7);
    position: absolute;
    z-index: 10;
    text-align: center;
    opacity: 0;
    visibility: hidden; }
    .single_about_item .about-hover-overlay a {
      position: relative;
      width: 100%;
      height: 100%;
      z-index: 30; }
      .single_about_item .about-hover-overlay a .port-hover-text h3 {
        font-size: 28px;
        color: #ffffff; }
        @media only screen and (min-width: 992px) and (max-width: 1199px) {
          .single_about_item .about-hover-overlay a .port-hover-text h3 {
            font-size: 20px; } }
        @media only screen and (max-width: 767px) {
          .single_about_item .about-hover-overlay a .port-hover-text h3 {
            font-size: 18px; } }
      .single_about_item .about-hover-overlay a .port-hover-text h5 {
        font-size: 18px;
        margin-bottom: 0;
        color: #ffffff;
        font-weight: 400; }
        @media only screen and (max-width: 767px) {
          .single_about_item .about-hover-overlay a .port-hover-text h5 {
            font-size: 14px; } }
      h5.about-img.d-flex.align-items-center.justify-content-center {
        position: absolute;
        top: 30%;  
        left: 15%; 
        font-weight: bold;   }
  .single_about_item:hover {
    -webkit-transform: translateY(-15px);
    transform: translateY(-15px); }
    .single_about_item:hover .about-hover-overlay {
      opacity: 1;
      visibility: visible; }
  
.about-page .single_about_item {
  height: 320px; }
  .bg-img {
    background-position: center center;
    background-size: contain;
    background-repeat: no-repeat; }  

h1.author.d-lg-flex {
  color: #FB0E0E;
  font-weight: bold;
}

h2.text-dark.mb-5 {
  color: #FB0E0E !important;
  text-shadow: 4px 4px 0 #FFE713, 4px -4px 0 #1712F6;
  font-weight: bold;
  font-family: 'Great Vibes', cursive;
}

h5#homeH5 {
  color: #8B74BD;
  margin-bottom: .5em;
}

h5#contactH5 {
  color: #FFE713;
  font-weight: bold;
  font-size: 22px;
  margin-bottom: 1.67em;
}

.homePic {
  height: auto;
  width: 15em;
}

@media (max-width: 650px) {
  .homeTitle {
    margin-left: 70px;
  }
}

a#btn1, a#btn2, a#btn3 {
  font-family: 'Great Vibes', cursive;  
  font-size: 16px;
}

.item1 { grid-area: homePic;}
.item2 { grid-area: contact;}

.grid-container1 {
  display: grid;
  place-items: center;
  align-self: center; 
  text-align: center; 
  grid-template-areas: 
    ". contact"
    "homePic contact"
    ". contact";
  padding: 10px;
}

@media (max-width: 800px) {
  .grid-container1 {
    grid-template-areas: 
      "homePic"
      "contact";
    grid-gap: 10px;
  }
  .homePic {
    padding-top: 20px;
  }
  .item2 { 
    align-self: center; 
    text-align: center; 
  }
  a#btn1.btn.btn-primary {
    margin-right: 50px;
  }
}

.servicePic {
  height: auto;
  width: 15em;
}

.item3 { grid-area: servicePic;}
.item4 { 
  grid-area: serviceText;
  padding: 0px 100px;
}

.grid-container2 {
  display: grid;
  place-items: center;
  align-self: center; 
  text-align: center; 
  grid-template-areas: 
    ". serviceText"
    "servicePic serviceText"
    ". serviceText";
  padding: 10px;
}

@media (max-width: 800px) {
  .grid-container2 {
    grid-template-areas: 
      "servicePic"
      "serviceText";
    grid-gap: 10px;
  }
  .servicePic {
    padding-top: 20px;
  }
  .item4 { 
    align-self: center; 
    text-align: center; 
    padding: 0px;
    font-size: 14px;
  }
}


.servicePawLeft {
  height: auto;
  width: 100%;
}

.servicePawRight {
  height: auto;
  width: 100%;
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
}

.item8 { grid-area: servicePawLeft;}
.item9 { grid-area: serviceText2;}
.item10 { grid-area: servicePawRight;}

.grid-container5 {
  display: grid;
  place-items: center;
  align-self: center; 
  text-align: center; 
  grid-template-areas: 
    "servicePawLeft serviceText2 servicePawRight";
  padding: 10px;
}

@media (max-width: 800px) {
  .grid-container5 {
    grid-template-areas: 
      "servicePawLeft"
      "serviceText2"
      "servicePawRight";
    grid-gap: 10px;
  }
  .servicePawLeft {
    padding-top: 20px;
  }
  .servicePawRight {
    padding-top: 20px;
  }
  .item9 { 
    align-self: center; 
    text-align: center; 
  }
}



.aboutPic {
  height: auto;
  width: 15em;
  margin-bottom: 30px;
}

.item5 { grid-area: aboutPic;}
.item6 { 
  grid-area: aboutText;
  padding: 0px 100px;
}

.grid-container3 {
  display: grid;
  place-items: center;
  align-self: center; 
  text-align: center; 
  grid-template-areas: 
    "aboutPic aboutText";
  padding: 10px;
}

@media (max-width: 800px) {
  .grid-container3 {
    grid-template-areas: 
      "aboutPic"
      "aboutText";
    grid-gap: 10px;
  }
  .aboutPic {
    padding-top: 20px;
  }
  .item6 { 
    align-self: center; 
    text-align: center; 
    padding: 0px;
  }
}



.profilPic {
  height: auto;
  width: 15em;
}

.item7 { grid-area: profilPic;}

.grid-container4 {
  display: grid;
  place-items: center;
  align-self: center; 
  text-align: center; 
  grid-template-areas: 
    ". profilPic .";
  padding: 10px;
}

@media (max-width: 800px) {
  .grid-container4 {
    grid-template-areas: 
      "profilPic"
  }
  .profilPic {
    padding-top: 20px;
  }
  .item7 { 
    align-self: center; 
    text-align: center; 
  }
}


.video {
  width: 507px; 
  height: 285px; 
  left: 0px; 
  top: 0px;
}

.item11 { grid-area: video;}

.grid-container6 {
  display: grid;
  place-items: center;
  align-self: center; 
  text-align: center; 
  grid-template-areas: 
    "video";
  padding: 10px;
}

@media (max-width: 800px) {
  .grid-container6 {
    grid-template-areas: 
      "video";
  }
  .video { 
    align-self: center; 
    text-align: center; 
    width: calc(100% - 10px);
    height: calc(100% - 10px);
    left: 0px; 
    top: 0px;
  }
}



.partnerPic1, .partnerPic2, .partnerPic3 {
  height: auto;
  width: 12em;
  border: 12px solid #1712F6;
  border-radius: 10px;
  padding: 6px;
}

.partnerPic2 {
  border-radius: 50%;
}

.partner1, .partner2, .partner3 {
  color: #FB0E0E;
  font-weight: bold;
  font-size: 22px;
}

.item12 { grid-area: partnerPic1;}
.item13 { grid-area: partner1;}
.item14 { grid-area: partnerPic2;}
.item15 { grid-area: partner2;}
.item16 { grid-area: partnerPic3;}
.item17 { grid-area: partner3;}

.grid-container7 {
  display: grid;
  place-items: center;
  align-self: center; 
  text-align: center; 
  grid-template-areas: 
    "partnerPic1 partnerPic2 partnerPic3"
    "partner1 partner2 partner3";
  padding: 10px;
}

@media (max-width: 800px) {
  .grid-container7 {
    grid-template-areas: 
      "partnerPic1"
      "partner1"
      "partnerPic2"
      "partner2"
      "partnerPic3"
      "partner3";
    grid-gap: 10px;
  }
  .partnerPic1, .partnerPic2, .partnerPic3 {
    height: auto;
    width: calc(100% - 20px);
  }
  .partner1, .partner2, .partner3 {
    font-size: 18px;
  }
}


.helpPic1, .helpPic2 {
  position: relative;
  height: auto;
  width: 12em;
  border: 12px solid #FFE713;
  border-radius: 50%;
  padding: 6px;
}

.item18 { grid-area: helpPic1;}
.item19 { grid-area: helpText1;}
.item20 { grid-area: helpPic2;}
.item21 { grid-area: helpText2;}

.grid-container8 {
  display: grid;
  place-items: center;
  align-self: center; 
  text-align: center; 
  grid-template-areas: 
    "helpPic1 helpText1"
    "helpPic2 helpText2";
  padding: 10px;
  grid-gap: 20px;
  grid-template-columns: 30% 55%;
}

@media (max-width: 800px) {
  .grid-container8 {
    grid-template-areas: 
      "helpPic1"
      "helpText1"
      "helpPic2"
      "helpText2";
    grid-gap: 20px;
    grid-template-columns: 100%;
  }
  .item19, .item21 {
    padding: 20px;
    font-size: 14px;
  }
}

.contactPic {
  height: auto;
  width: 15em;
}

.item22 { grid-area: contactPic;}
.item23 { grid-area: contactInfo;}
.item24 { grid-area: map;}
.item25 { grid-area: button;}


.grid-container9 {
  display: grid;
  place-items: center;
  align-self: center; 
  text-align: center; 
  grid-template-areas: 
    "contactPic contactInfo"
    "map map"
    "button button";
  padding: 10px;
  grid-gap: 20px;
}

@media (max-width: 800px) {
  .grid-container9 {
    grid-template-areas: 
      "contactPic"
      "contactInfo"
      "map"
      "button";
    grid-gap: 20px;
  }
  iframe {
    width: calc(100% - 1px);
  }
}

.fb-page {
  display: grid !important;
  place-items: center;
  align-self: center; 
  text-align: center; 
}

.item26 { grid-area: saci;}
.item27 { grid-area: kartel;}
.item28 { grid-area: eszter;}

.grid-container10 {
  display: grid;
  place-items: center;
  align-self: center; 
  text-align: center; 
  grid-template-areas: 
    "saci kartel eszter";
  padding: 10px;
  grid-gap: 20px;
}

@media (max-width: 800px) {
  .grid-container10 {
    grid-template-areas: 
    "saci"
    "eszter"
    "kartel";
    grid-gap: 20px;
  }
  iframe {
    width: calc(100% - 1px);
  }
}

a#btn1.btn.btn-primary {
  border-color: #FFE713;
  color:	#FFE713;
  background-color: transparent;
  box-shadow: 9px 9px 4px rgba(0, 0, 0, 0.25);
  margin-right: 20px;
}

a#btn1.btn.btn-primary:hover,
a#btn1.btn.btn-primary:focus,
a#btn1.btn.btn-primary:active {
  color: #fff !important; 
  background-color: #1712F6 !important;
  border-color: transparent !important;
}

a#btn2.btn.btn-primary {
  border-color: #FFE713;
  color: #FFE713;
  background-color: transparent; 
  box-shadow: 9px 9px 4px rgba(0, 0, 0, 0.25);
}

a#btn2.btn.btn-primary:hover,
a#btn2.btn.btn-primary:focus,
a#btn2.btn.btn-primary:active {
  color: #fff !important;
  background-color: #1712F6 !important;
  border-color: transparent !important;
}

h1.heading {
  font-family: 'Great Vibes', cursive;  
  font-size: 42px;
  font-weight: bold;
}

h2.heading {
  font-family: 'Great Vibes', cursive;  
  font-size: 36px;
  font-weight: bold;
}


h3.heading {
  font-weight: bold;
  font-family: 'Great Vibes', cursive;  
  font-size: 36px;
}

ul {
  margin: 0;
padding: 0; }
  ul li  {
    list-style: none; }

#text {
  width: 100%;
}

#home-section {
  padding-top: 4em;
  background: rgb(250,250,250);
  background: linear-gradient(90deg, rgba(255,255,255,1) 38%, rgba(23,18,246,1) 67%);
}

#rainbow {
  background-image: -webkit-gradient( linear, right top, left top, color-stop(0, #FB0E0E), color-stop(0.14, #fb3e3e), color-stop(0.28, #1712F6), color-stop(0.42, #4541f7), color-stop(0.56, #4CF410),color-stop(0.7, rgb(76, 244, 16)), color-stop(0.84, #FFE713), color-stop(1, #FB0E0E) );
  background-image: gradient( linear, right top, left top, color-stop(0, #FB0E0E), color-stop(0.14, #fb3e3e), color-stop(0.28, #1712F6), color-stop(0.42, #4541f7), color-stop(0.56, #4CF410),color-stop(0.7, #4CF410), color-stop(0.84, #FFE713), color-stop(1, #FB0E0E) );
  color:transparent; 
  -webkit-background-clip: text; 
  background-clip: text;
}

#rainbow:hover {
  background-image: -webkit-gradient( linear, left top, right top, color-stop(0, #FB0E0E), color-stop(0.14, #fb3e3e), color-stop(0.28, #1712F6), color-stop(0.42, #4541f7), color-stop(0.56, #4CF410),color-stop(0.7, rgb(76, 244, 16)), color-stop(0.84, #FFE713), color-stop(1, #FB0E0E) );
  background-image: gradient( linear, left top, right top, color-stop(0, #FB0E0E), color-stop(0.14, #fb3e3e), color-stop(0.28, #1712F6), color-stop(0.42, #4541f7), color-stop(0.56, #4CF410),color-stop(0.7, #4CF410), color-stop(0.84, #FFE713), color-stop(1, #FB0E0E) );
  color:transparent; 
  -webkit-background-clip: text; 
  background-clip: text;
}

a#rainbow {
  width: 200px !;
}

#services-section {
  background: rgb(233,233,233);
  background: linear-gradient(90deg, rgba(233,233,233,1) 38%, rgba(255,231,19,1) 67%);
}

#about-section {
  background: rgb(235,235,235);
  background: linear-gradient(90deg, rgba(235,235,235,1) 30%, rgba(251,14,14,1) 67%);
}

#gallery-section {
  background: rgb(251,14,14);
  background: radial-gradient(circle, rgba(251,14,14,1) 0%, rgba(23,18,246,1) 50%, rgba(255,231,19,1) 100%);
}

#policy-section {
  background: rgb(250,250,250);
  background: linear-gradient(90deg, rgba(250,250,250,1) 25%, rgba(255,231,19,1) 67%);  
}

#partners-section {
  background: rgb(255,231,19);
  background: radial-gradient(circle, rgba(251,14,14,1) 0%, rgba(23,18,246,1) 40%, rgba(255,231,19,1) 100%);
}

#contact-section {
  background: rgb(254,254,254);
  background: linear-gradient(90deg, rgba(254,254,254,1) 35%, rgba(255,231,19,1) 67%);  
}

footer.site-footer {
  background-color: #1712F6;
}





body {
  line-height: 1.7;
  color: black;
  font-weight: normal;
  font-size: 1.4rem;
  font-family: 'Great Vibes', cursive;  
  background: rgb(23,18,246);
  background: linear-gradient(90deg, rgba(23,18,246,1) 0%, rgba(251,14,14,1) 46%, rgba(255,231,19,1) 100%);}

::-moz-selection {
  background: #000;
  color: #fff;
}

::selection {
  background: #000;
  color: #fff;
}

a {
  -webkit-transition: 0.3s all ease;
  -o-transition: 0.3s all ease;
  transition: 0.3s all ease;
}
a:hover {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #000;
  text-align: center;

}

h5 {
  margin: 5px;
  font-size: 24px;
  color: #FB0E0E;
}

p {
  color: #1d1d1d;
  font-weight: bold;
}

@media (max-width: 800px) {
  p {
    font-size: 14px;
  }
}


.serif {
  font-family: 'Great Vibes', cursive;  
}

.position-relative {
  position: relative !important;
}

.overflow-hidden {
  overflow: hidden;
}

.text-black {
  color: #000 !important;
}

.bg-black {
  background: #000 !important;
}

.site-wrap:before {
  -webkit-transition: 0.3s all ease-in-out;
  -o-transition: 0.3s all ease-in-out;
  transition: 0.3s all ease-in-out;
  content: "";
  position: absolute;
  z-index: 2000;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0;
  visibility: hidden;
}

.offcanvas-menu .site-wrap {
  height: 100%;
  width: 100%;
  z-index: 2;
  overflow: hidden;
}
.offcanvas-menu .site-wrap:before {
  opacity: 1;
  visibility: visible;
}

.offcanvas-menu {
  position: relative;
}
.offcanvas-menu:after {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  top: 0;
  right: 0;
  z-index: 21;
  background: rgba(0, 0, 0, 0.2);
}

.btn {
  border-width: 2px;
  border-radius: 10px;
  width: 90px;
  font-weight: bold;
}
.btn:active,
.btn:focus {
  outline: none;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
}
.btn.btn-lg {
  padding: 10px 20px;
  font-size: 16px;
}
.btn.btn-primary {
  color: #fff;
}
.btn.btn-primary:hover,
.btn.btn-primary:focus,
.btn.btn-primary:active {
  border-color: #1c63fb !important;/*körvonal*/
  color: #1c63fb !important;/*felirat*/
  background-color: transparent !important;
}
.btn.btn-white {
  background: #fff;
  border: 2px solid transparent;
}
.btn.btn-white:hover {
  background: transparent;
  color: #fff;
  border: 2px solid #fff;
}
.btn.btn-outline-primary {
  color: #1c63fb;
  border-color: #1c63fb !important;
  background-color: transparent !important;
}
.btn.btn-outline-primary:hover,
.btn.btn-outline-primary:focus,
.btn.btn-outline-primary:active {
  border-color: #1c63fb !important;
  color: #fff !important;
  background-color: #1c63fb !important;
}
.btn.btn-md {
  padding: 14px 30px;
}

.bg-black {
  background: #000;
}

.form-control {
  height: 47px;
  background: #f6f6f6;
  border-radius: 30px;
  border: 1px solid #f6f6f6;
}
.form-control:active,
.form-control:focus {
  border-color: #1c63fb;
}
.form-control:hover,
.form-control:active,
.form-control:focus {
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
}

.site-section {
  padding: 3em 0;
}

.site-section-heading {
  font-size: 30px;
  color: #dee2e6;
  position: relative;
}
.site-section-heading:before {
  content: "";
  left: 0%;
  top: 0;
  position: absolute;
  width: 40px;
  height: 2px;
  background: #1c63fb;
}
.site-section-heading.text-center:before {
  content: "";
  left: 50%;
  top: 0;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  position: absolute;
  width: 40px;
  height: 2px;
  background: #1c63fb;
}

.border-top {
  border-top: 1px solid #ced4da !important;
}

.site-footer {
  padding-top: 4rem;
}
.site-footer p {
  color: #8c8c8c;
}
.site-footer h2,
.site-footer h3,
.site-footer h4,
.site-footer h5 {
  color: #fff;
}
.site-footer a {
  color: #b3b3b3;
}
.site-footer a:hover {
  color: white;
}
.site-footer ul li {
  margin-bottom: 10px;
}
.site-footer .footer-heading {
  font-size: 20px;
  color: #fff;
}

.bg-text-line {
  display: inline;
  background: #000;
  -webkit-box-shadow: 20px 0 0 #000, -20px 0 0 #000;
  box-shadow: 20px 0 0 #000, -20px 0 0 #000;
}

.bg-image {
  background-size: contain;
  background-repeat: no-repeat;
  overflow: hidden;
}

.bg-image.center {
  background-position: top center;
}
.bg-image.fixed {
  background-position: fixed !important;
}
.bg-image.overlay,
.bg-image.overlay-primary,
.bg-image.overlay-info,
.bg-image.overlay-success,
.bg-image.overlay-warning {
  position: relative;
}
.bg-image.overlay:before,
.bg-image.overlay-primary:before,
.bg-image.overlay-info:before,
.bg-image.overlay-success:before,
.bg-image.overlay-warning:before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
}
.bg-image.overlay:before {
  background: rgba(0, 0, 0, 0.4);
}
.bg-image.overlay-primary:before {
  background: rgba(28, 99, 251, 0.9);
}
.bg-image.overlay-info:before {
  background: rgba(47, 240, 193, 0.9);
}
.bg-image.overlay-success:before {
  background: rgba(40, 167, 69, 0.9);
}
.bg-image.overlay-success:before {
  background: rgba(255, 193, 7, 0.9);
}


/* Navbar */
.site-navbar-wrap {
  position: relative;
  z-index: 99;
  width: 100%;
  left: 0;
  cursor: pointer;

}
.site-navbar-wrap a {
  color: #000;
}
.site-navbar-wrap .site-navbar-top {
  font-size: 0.8rem;
}

.site-navbar-top {
  border-bottom: 1px solid rgba(0, 0, 0, 0.05);
}

.site-navbar {
  margin-bottom: 0px;
  width: 100%;
  padding: 15px 0;
}
.site-navbar .site-logo {
  line-height: 0;
  position: relative;
}
.site-navbar .back {
  line-height: 0;
  position: relative;
}
@media (max-width: 650px) {
  .site-navbar .site-logo a {
    line-height: 1;
  }
  .site-navbar .back a {
    line-height: 1;
  }
}
.site-navbar .site-logo a {
  color: #B9BFFF;
  font-size: 2rem;
  font-weight: bold;
}
.site-navbar .site-navigation .site-menu {
  margin-bottom: 0;
}
.site-navbar .site-navigation .site-menu a {
  text-decoration: none !important;
  display: inline-block;
  font-weight: 500;
}
.site-navbar .site-navigation .site-menu > li {
  display: inline-block;
  padding: 10px 5px;
}
.site-navbar .site-navigation .site-menu > li > a {
  padding: 7px;
  color: white;
  font-size: 20px;
  font-weight: bold;
  text-decoration: none !important;
}
.site-navbar .site-navigation .site-menu > li > a:hover {
  color: #242D9C;
  font-weight: bold;
}
.site-navbar .site-navigation .site-menu > li:last-child {
  padding-right: 0;
}
.site-navbar .site-navigation .site-menu > li:last-child > a {
  padding-right: 0;
}
.site-navbar .site-navigation .site-menu .has-children {
  position: relative;
}
.site-navbar .site-navigation .site-menu .has-children > a {
  position: relative;
  padding-right: 20px;
}
.site-navbar .site-navigation .site-menu .has-children > a:before {
  position: absolute;
  content: "\e313";
  font-size: 20px;
  top: 50%;
  right: 0;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  font-family: "icomoon";
}
.site-navbar .site-navigation .site-menu .has-children .dropdown {
  visibility: hidden;
  opacity: 0;
  top: 100%;
  position: absolute;
  text-align: left;
  -webkit-box-shadow: 0 0px 4px 0px rgba(0, 0, 0, 0.25);
  box-shadow: 0 0px 4px 0px rgba(0, 0, 0, 0.25);
  padding: 0px 0;
  margin-top: 20px;
  margin-left: 0px;
  background: #fff;
  -webkit-transition: 0.2s 0s;
  -o-transition: 0.2s 0s;
  transition: 0.2s 0s;
  border-radius: 4px;
}
.site-navbar .site-navigation .site-menu .has-children .dropdown.arrow-top {
  position: absolute;
}
.site-navbar
  .site-navigation
  .site-menu
  .has-children
  .dropdown.arrow-top:before {
  bottom: 100%;
  left: 20%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
}
.site-navbar
  .site-navigation
  .site-menu
  .has-children
  .dropdown.arrow-top:before {
  border-color: rgba(136, 183, 213, 0);
  border-bottom-color: #fff;
  border-width: 10px;
  margin-left: -10px;
}
.site-navbar .site-navigation .site-menu .has-children .dropdown a {
  font-size: 14px;
  text-transform: none;
  letter-spacing: normal;
  -webkit-transition: 0s all;
  -o-transition: 0s all;
  transition: 0s all;
  color: #343a40;
}
.site-navbar .site-navigation .site-menu .has-children .dropdown a.active {
  color: #1712F6;
}
.site-navbar .site-navigation .site-menu .has-children .dropdown .active > a {
  color: #fff !important;
}
.site-navbar .site-navigation .site-menu .has-children .dropdown > li {
  list-style: none;
  padding: 0;
  margin: 0;
  min-width: 200px;
}
.site-navbar
  .site-navigation
  .site-menu
  .has-children
  .dropdown
  > li:first-child
  > a {
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}
.site-navbar
  .site-navigation
  .site-menu
  .has-children
  .dropdown
  > li:last-child
  > a {
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}
.site-navbar .site-navigation .site-menu .has-children .dropdown > li > a {
  padding: 9px 20px;
  display: block;
}
.site-navbar
  .site-navigation
  .site-menu
  .has-children
  .dropdown
  > li
  > a:hover {
  background: #ebeef0;
  color: #212529;
}
.site-navbar
  .site-navigation
  .site-menu
  .has-children
  .dropdown
  > li.has-children
  > a:before {
  content: "\e315";
  right: 20px;
}
.site-navbar
  .site-navigation
  .site-menu
  .has-children
  .dropdown
  > li.has-children
  > .dropdown,
.site-navbar
  .site-navigation
  .site-menu
  .has-children
  .dropdown
  > li.has-children
  > ul {
  left: 100%;
  top: 0;
}
.site-navbar
  .site-navigation
  .site-menu
  .has-children
  .dropdown
  > li.has-children:hover
  > a,
.site-navbar
  .site-navigation
  .site-menu
  .has-children
  .dropdown
  > li.has-children:active
  > a,
.site-navbar
  .site-navigation
  .site-menu
  .has-children
  .dropdown
  > li.has-children:focus
  > a {
  background: #ebeef0;
  color: #212529;
}
.site-navbar .site-navigation .site-menu .has-children:hover > a,
.site-navbar .site-navigation .site-menu .has-children:focus > a,
.site-navbar .site-navigation .site-menu .has-children:active > a {
  color: #fff;
}
.site-navbar .site-navigation .site-menu .has-children:hover,
.site-navbar .site-navigation .site-menu .has-children:focus,
.site-navbar .site-navigation .site-menu .has-children:active {
  cursor: pointer;
}
.site-navbar .site-navigation .site-menu .has-children:hover > .dropdown,
.site-navbar .site-navigation .site-menu .has-children:focus > .dropdown,
.site-navbar .site-navigation .site-menu .has-children:active > .dropdown {
  -webkit-transition-delay: 0s;
  -o-transition-delay: 0s;
  transition-delay: 0s;
  margin-top: 0px;
  visibility: visible;
  opacity: 1;
}

.site-mobile-menu {
  width: 300px;
  position: fixed;
  right: 0;
  z-index: 2000;
  padding-top: 20px;
  background: rgb(255,231,19);
  background: radial-gradient(circle, rgba(255,231,19,1) 0%, rgba(23,18,246,1) 50%, rgba(251,14,14,1) 100%);  height: calc(100vh);
  -webkit-transform: translateX(110%);
  -ms-transform: translateX(110%);
  transform: translateX(110%);
  -webkit-box-shadow: -10px 0 20px -10px rgba(0, 0, 0, 0.1);
  box-shadow: -10px 0 20px -10px rgba(0, 0, 0, 0.1);
  -webkit-transition: 0.3s all ease-in-out;
  -o-transition: 0.3s all ease-in-out;
  transition: 0.3s all ease-in-out;
}
.offcanvas-menu .site-mobile-menu {
  -webkit-transform: translateX(0%);
  -ms-transform: translateX(0%);
  transform: translateX(0%);
}
.site-mobile-menu .site-mobile-menu-header {
  width: 100%;
  float: left;
  padding-left: 20px;
  padding-right: 20px;
}
.site-mobile-menu .site-mobile-menu-header .site-mobile-menu-close {
  float: right;
  margin-top: 8px;
}
.site-mobile-menu .site-mobile-menu-header .site-mobile-menu-close span {
  font-size: 30px;
  display: inline-block;
  padding-left: 10px;
  padding-right: 0px;
  line-height: 1;
  cursor: pointer;
  -webkit-transition: 0.3s all ease;
  -o-transition: 0.3s all ease;
  transition: 0.3s all ease;
}
.site-mobile-menu .site-mobile-menu-header .site-mobile-menu-close span:hover {
  color: #dee2e6;
}
.site-mobile-menu .site-mobile-menu-header .site-mobile-menu-logo {
  float: left;
  margin-top: 10px;
  margin-left: 0px;
}
.site-mobile-menu .site-mobile-menu-header .site-mobile-menu-logo a {
  display: inline-block;
  text-transform: uppercase;
}
.site-mobile-menu .site-mobile-menu-header .site-mobile-menu-logo a img {
  max-width: 70px;
}
.site-mobile-menu .site-mobile-menu-header .site-mobile-menu-logo a:hover {
  text-decoration: none;
}
.site-mobile-menu .site-mobile-menu-body {
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
  position: relative;
  padding: 20px;
  height: calc(100vh - 52px);
  padding-bottom: 150px;
}
.site-mobile-menu .site-nav-wrap {
  padding: 0;
  margin: 0;
  list-style: none;
  position: relative;
}
.site-mobile-menu .site-nav-wrap a {
  padding: 10px 20px;
  display: block;
  position: relative;
  color: #FB0E0E;
}
.site-mobile-menu .site-nav-wrap a.active,
.site-mobile-menu .site-nav-wrap a:hover {
  color: #FFE713;
}
.site-mobile-menu .site-nav-wrap li {
  position: relative;
  display: block;
}
.site-mobile-menu .site-nav-wrap li.active > a {
  color: rgb(91, 179, 130);
}
.site-mobile-menu .site-nav-wrap .arrow-collapse {
  position: absolute;
  right: 0px;
  top: 10px;
  z-index: 20;
  width: 36px;
  height: 36px;
  text-align: center;
  cursor: pointer;
  border-radius: 50%;
}
.site-mobile-menu .site-nav-wrap .arrow-collapse:hover {
  background: #f8f9fa;
}
.site-mobile-menu .site-nav-wrap .arrow-collapse:before {
  font-size: 12px;
  z-index: 20;
  font-family: "icomoon";
  content: "\f078";
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%) rotate(-180deg);
  -ms-transform: translate(-50%, -50%) rotate(-180deg);
  transform: translate(-50%, -50%) rotate(-180deg);
  -webkit-transition: 0.3s all ease;
  -o-transition: 0.3s all ease;
  transition: 0.3s all ease;
}
.site-mobile-menu .site-nav-wrap .arrow-collapse.collapsed:before {
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.site-mobile-menu .site-nav-wrap > li {
  display: block;
  position: relative;
  float: left;
  width: 100%;
}
.site-mobile-menu .site-nav-wrap > li > a {
  padding-left: 20px;
  font-size: 20px;
  font-weight: bold;
}
.site-mobile-menu .site-nav-wrap > li > ul {
  padding: 0;
  margin: 0;
  list-style: none;
}
.site-mobile-menu .site-nav-wrap > li > ul > li {
  display: block;
}
.site-mobile-menu .site-nav-wrap > li > ul > li > a {
  padding-left: 40px;
  font-size: 16px;
}
.site-mobile-menu .site-nav-wrap > li > ul > li > ul {
  padding: 0;
  margin: 0;
}
.site-mobile-menu .site-nav-wrap > li > ul > li > ul > li {
  display: block;
}
.site-mobile-menu .site-nav-wrap > li > ul > li > ul > li > a {
  font-size: 16px;
  padding-left: 60px;
}

.sticky-wrapper {
  z-index: 100;
  width: 100%;
}
.sticky-wrapper + .site-blocks-cover {
  margin-top: 140px;
}
.sticky-wrapper .site-navbar {
  -webkit-transition: 0.3s all ease;
  -o-transition: 0.3s all ease;
  transition: 0.3s all ease;
  background: rgb(23,18,246);
  background: linear-gradient(90deg, rgba(23,18,246,1) 0%, rgba(251,14,14,1) 46%, rgba(255,231,19,1) 100%);
  background-repeat: no-repeat;
}
.sticky-wrapper .site-navbar a.active {
  color: #FFE713;
}
.sticky-wrapper.is-sticky .site-navbar {
  background: rgb(255,231,19);
  background: linear-gradient(90deg, rgba(255,231,19,1) 0%, rgba(251,14,14,1) 46%, rgba(23,18,246,1) 100%);
  background-repeat: no-repeat;
  -webkit-box-shadow: 4px 0 20px -5px rgba(0, 0, 0, 0.1);
  box-shadow: 4px 0 20px -5px rgba(0, 0, 0, 0.1);
}

.sticky-wrapper .site-navbar .site-logo {
  width: 50px;
  height: 35.5px;
}

.sticky-wrapper.is-sticky .site-navbar .site-navigation .site-menu > li {
  display: inline-block;
  padding: 10px 5px;
}
.sticky-wrapper.is-sticky
  .site-navbar
  .site-navigation
  .site-menu
  > li:last-child {
  padding-right: 0;
}
.sticky-wrapper.is-sticky
  .site-navbar
  .site-navigation
  .site-menu
  > li:last-child
  > a {
  padding-right: 0;
}
.sticky-wrapper.is-sticky
  .site-navbar
  .site-navigation
  .site-menu
  > li.has-children
  > a {
  padding-right: 20px;
}
.sticky-wrapper.is-sticky .site-navbar .site-navigation .site-menu > li > a {
  padding: 7px;
  font-size: 20px;
}

.sticky-wrapper.is-sticky .site-navbar .site-navigation .site-menu > li > a:hover {
  color: #FFE713;
}

.sticky-wrapper.is-sticky .site-navbar .site-navigation .site-menu > li > a.active {
  color: #FFE713;
}

.sticky-wrapper.is-sticky
  .site-navbar
  .site-navigation
  .site-menu
  > li
  > a.active {
  color: #FFE713;
}
.sticky-wrapper .shrink {
  padding-top: 0px !important;
  padding-bottom: 0px !important;
}

/* Blocks */
.site-blocks-cover {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
  background-attachment: fixed;
  position: relative;
}
.site-blocks-cover.overlay {
  position: relative;
}
.site-blocks-cover.overlay:before {
  position: absolute;
  content: "";
  left: 0;
  bottom: 0;
  right: 0;
  top: 0;
  background: rgba(0, 0, 0, 0.2);
}
.site-blocks-cover,
.site-blocks-cover > .container > .row {
  min-height: 600px;
  height: calc(100vh);
}
.site-blocks-cover.inner-page,
.site-blocks-cover.inner-page > .container > .row {
  min-height: 600px;
  height: calc(80vh);
}
.site-blocks-cover h1 {
  font-size: 8rem;
  font-weight: 900;
  line-height: 1;
}
@media (max-width: 991.98px) {
  .site-blocks-cover h1 {
    font-size: 4rem;
  }
}
.site-blocks-cover .sub-text {
  font-size: 1.4rem;
  color: gray;
  font-weight: 300;
}
@media (max-width: 991.98px) {
  .site-blocks-cover .sub-text {
    color: #000;
  }
}
.site-blocks-cover .img-wrap {
  position: absolute;
  z-index: -1;
  width: calc(100% - 50%);
  top: 0;
  height: 100%;
  z-index: 2;
  right: 50%;
  min-height: 600px;
  overflow: hidden;
  border-bottom-right-radius: 200px;
}
@media (max-width: 991.98px) {
  .site-blocks-cover .img-wrap {
    width: 100%;
    right: 0%;
    top: 0;
  }
  .site-blocks-cover .img-wrap .hero-slider:before {
    position: absolute;
    content: "";
    background: #fff;
    opacity: 0.5;
    z-index: 2;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }
}
.site-blocks-cover .img-wrap .slide {
  height: 100vh;
  position: relative;
}
.site-blocks-cover .img-wrap .slide img {
  position: absolute;
  top: 0;
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}
.site-blocks-cover .intro {
  z-index: 3;
  position: relative;
}
.site-blocks-cover .intro .heading {
  margin-left: -150px;
}
@media (max-width: 991.98px) {
  .site-blocks-cover .intro .heading {
    margin-left: 0;
  }
}
.site-blocks-cover .intro .text {
  padding-left: 50px;
}
@media (max-width: 991.98px) {
  .site-blocks-cover .intro .text {
    padding-left: 0;
  }
}


.heading {
  font-family: 'Great Vibes', cursive;  
  position: relative;
  padding-bottom: 10px;
  margin-bottom: 20px;
}
/*
.heading:after {
  content: "";
  position: absolute;
  width: 50px;
  height: 2px;
  background: #1c63fb;
  bottom: 0;
  left: 0;
}
*/
.site-menu-toggle .menu-text {
  position: relative;
  top: -6px;
  text-transform: uppercase;
}

.hero-slider .owl-nav {
  position: absolute;
  bottom: 120px;
  right: 50px;
  z-index: 100;
}
.hero-slider .owl-nav .owl-prev,
.hero-slider .owl-nav .owl-next {
  width: 50px;
  height: 50px;
  text-align: center;
  line-height: 50px;
  border-radius: 50%;
  background: #242D9C;
  color: #fff;
  margin-bottom: 10px;
  font-size: 1.3rem;
}

.section-title .sub-title {
  font-size: 0.75rem;
  letter-spacing: 0.2rem;
  font-weight: 400;
  color: #ffffff;
}

.section-title .title {
  font-size: 2.2rem;
}

.service {
  padding: 30px;
  background: #fff;
  border: 1px solid #eee;
  border-top: 2px solid #1c63fb;
  -webkit-transition: 0.3s all ease-in-out;
  -o-transition: 0.3s all ease-in-out;
  transition: 0.3s all ease-in-out;
  position: relative;
  top: 0;
}
.service:hover,
.service:focus {
  -webkit-box-shadow: 0 10px 30px -10px rgba(0, 0, 0, 0.4);
  box-shadow: 0 10px 30px -10px rgba(0, 0, 0, 0.4);
  border: 1px solid transparent;
  border-top: 2px solid #1c63fb;
  top: -2px;
}
.service *:last-child {
  margin-bottom: 0;
}
.service h3 {
  font-size: 1rem;
  color: #000;
}
.service p {
  color: #999999;
}
.service .wrap-icon {
  width: 60px;
  height: 60px;
  display: block;
  border: 1px solid #1c63fb;
  border-radius: 50%;
  position: relative;
  margin-bottom: 30px;
}
.service .wrap-icon > span {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  font-size: 30px;
  color: #1c63fb;
}

.readmore {
  position: relative;
  padding-right: 20px;
  text-transform: uppercase;
  font-size: 0.75rem;
  letter-spacing: 0.1rem;
  font-weight: 900;
  -webkit-transition: 0.3s all ease;
  -o-transition: 0.3s all ease;
  transition: 0.3s all ease;
}
.readmore:after {
  -webkit-transition: 0.3s all ease;
  -o-transition: 0.3s all ease;
  transition: 0.3s all ease;
  position: absolute;
  content: "\e5c8";
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  font-family: "icomoon";
  right: 0;
  opacity: 0;
  visibility: hidden;
}
.readmore:hover {
  padding-right: 30px;
}
.readmore:hover:after {
  opacity: 1;
  visibility: visible;
}

.custom-progress {
  height: 7px;
}
.custom-progress .progress-bar {
  border-radius: 30px;
}

.ul-check {
  margin-bottom: 50px;
}
.ul-check li {
  position: relative;
  padding-left: 35px;
  margin-bottom: 15px;
  line-height: 1.5;
}
.ul-check li:before {
  left: 0;
  font-size: 20px;
  top: -0.3rem;
  font-family: "icomoon";
  content: "\e5ca";
  position: absolute;
}
.ul-check.white li:before {
  color: #fff;
}
.ul-check.success li:before {
  color: #28a745;
}
.ul-check.primary li:before {
  color: #1c63fb;
}

.item {
  border: none;
  margin-bottom: 30px;
  border-radius: 4px;
}
.item a {
  display: block;
  overflow: hidden;
  position: relative;
  border-radius: 4px;
}
.item a img {
  position: relative;
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
  -webkit-transition: 0.3s all ease-in-out;
  -o-transition: 0.3s all ease-in-out;
  transition: 0.3s all ease-in-out;
}
.item .item-wrap {
  display: block;
  position: relative;
}
.item .item-wrap:after {
  z-index: 2;
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.4);
  visibility: hidden;
  opacity: 0;
  -webkit-transition: 0.3s all ease-in-out;
  -o-transition: 0.3s all ease-in-out;
  transition: 0.3s all ease-in-out;
}
.item .item-wrap > span {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 3;
  -webkit-transform: translate(-50%, -50%) scale(0);
  -ms-transform: translate(-50%, -50%) scale(0);
  transform: translate(-50%, -50%) scale(0);
  color: #fff;
  font-size: 1.7rem;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: 0.3s all ease;
  -o-transition: 0.3s all ease;
  transition: 0.3s all ease;
}
.item .item-wrap:hover:after {
  opacity: 1;
  visibility: visible;
}
.item .item-wrap:hover span {
  margin-top: 0px;
  opacity: 1;
  visibility: visible;
  -webkit-transform: translate(-50%, -50%) scale(1);
  -ms-transform: translate(-50%, -50%) scale(1);
  transform: translate(-50%, -50%) scale(1);
}
.item:hover a img {
  -webkit-transform: scale(1.05);
  -ms-transform: scale(1.05);
  transform: scale(1.05);
  -webkit-transition: 0.3s all ease-in-out;
  -o-transition: 0.3s all ease-in-out;
  transition: 0.3s all ease-in-out;
}

.contact-form {
  padding: 30px;
  position: relative;
  background: #fff;
  -webkit-box-shadow: 0 10px 50px -10px rgba(0, 0, 0, 0.1);
  box-shadow: 0 10px 50px -10px rgba(0, 0, 0, 0.1);
  margin-bottom: -15em;
}

.jm-sticky-top {
  position: -webkit-sticky;
  position: sticky;
  top: 7em;
}

.twitter,
.twitter:hover {
  color: #1da1f2;
}

.facebook,
.facebook:hover {
  color: #3b5998;
}

.instagram,
.instagram:hover {
  color: #c13584;
}

.dribbble,
.dribbble:hover {
  color: #ea4c89;
}

.github,
.github:hover {
  color: #333;
}

.linkedin,
.linkedin:hover {
  color: #0077b5;
}

.person h3 {
  font-size: 1.2rem;
}

.testimonial {
  padding: 30px;
  color: #000;
  -webkit-box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.1);
  box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.1);
  line-height: 1.7;
  font-style: italic;
}
.testimonial .vcard figure {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 50px;
  flex: 0 0 50px;
}
.testimonial .vcard figure img {
  border-radius: 50%;
}
.testimonial .vcard .vcard-text {
  font-style: normal;
  font-weight: 400;
  line-height: 1.2;
}
.testimonial .vcard .vcard-text .position {
  color: #b3b3b3;
}
.testimonial strong {
  font-weight: 400;
  padding: 0.3rem 0;
  background: #faf5bb;
}

.form-subscribe .form-control {
  color: #fff;
  border-color: #333333 !important;
  background: #4d4d4d !important;
}
.form-subscribe .form-control:active,
.form-subscribe .form-control:focus {
  border-color: gray !important;
}
.form-subscribe .form-control::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  color: #ccc;
  font-style: italic;
}
.form-subscribe .form-control::-moz-placeholder {
  /* Firefox 19+ */
  color: #ccc;
  font-style: italic;
}
.form-subscribe .form-control:-ms-input-placeholder {
  /* IE 10+ */
  color: #ccc;
  font-style: italic;
}
.form-subscribe .form-control:-moz-placeholder {
  /* Firefox 18- */
  color: #ccc;
  font-style: italic;
}

.author .bg-img {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
@media (max-width: 991.98px) {
  .author .bg-img {
    height: 200px;
  }
}

.author > div {
  width: 50%;
  padding: 2rem;
}
@media (max-width: 991.98px) {
  .author > div {
    width: 100%;
  }
}

.author .text {
  padding: 2rem;
}
@media (max-width: 991.98px) {
  .author .text {
    padding: 30px;
  }
}
.author .text h3 {
  margin: 30px 0px 10px 0px;
}

.slide-one-item .owl-dots {
  display: block;
}
.slide-one-item .owl-dots .owl-dot {
  display: inline-block;
}
.slide-one-item .owl-dots .owl-dot > span {
  width: 7px;
  height: 7px;
  display: inline-block;
  border-radius: 50%;
  margin-right: 5px;
  margin-bottom: 5px;
  background: #ccc;
}
.slide-one-item .owl-dots .owl-dot.active > span {
  background: #1c63fb;
}
